@{
    this.ViewData["Title"] = "About";
}
<div id="overview-s" class="tab active">
    <h2>Gym</h2>
    <p>The human body is designed to move. Nowadays physical activity is greatly reduced. Fitness training offers the opportunity to change the inactive lifestyle, improve some of the markers of good health, such as strong muscles, tight body and great spirits.</p>
    <p><strong>For an effective workout we offer:</strong></p>
    <p>• paths <br> • elliptical <br> • steppers <br> • wheels <br> • free weights <br> • gladiators</p>
    <p><strong>The appliances available in the gym at FitGym &amp; Social Club are Platinum Series of TechnoGym</strong>. TechnoGym is a symbol of technological innovation aiming to improve the quality of life. Over 65 000 fitness centers and 100 000 households around the world use their appliances.</p>
    <p>If you have queries about the exercise program that fits your needs you can consult with our fitness instructors.</p>
    <p><strong>Individual training with our instructors will help you to: </strong></p>
    <p>• execute properly a range of diverse exercises <br> • comply with your current physical status <br> • achieve successfully the desired results.</p>
    <p>You can book a workout with an instructor by phone or at the reception in Spark.</p>
    <p>Do not postpone today’s workout for tomorrow!</p>
    <p><strong>We look forward to seeing you soon!</strong></p>
</div>