@using FitGym.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">I love Antoaneta!</h1>
</div>

@if (User.IsInRole("Admin"))
{
    <h1>Success ADMIN</h1>
}
else if (User.IsInRole("Trainer"))
{
    <h1>Success Trainer</h1>
}
else if (User.IsInRole("Client"))
{
    <h1>Success Client</h1>
}
else
{
    <p>Problem</p>
}
