@model FitGym.Web.ViewModels.Exercises.ExerciseCreateInputModel

@using FitGym.Data.Models.Enums
@{
    this.ViewData["Title"] = "New exercise";
}
<h1>@this.ViewData["Title"]</h1>

<form method="post" asp-action="Create">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-dager"></span>
    </div>

    <div class="form-group">
        <label for="textarea">Exercise Difficulty</label>
        <select class="browser-default custom-select" asp-for="Difficulty" asp-items="Html.GetEnumSelectList<Difficulty>()">
        </select>
        <span class="text-danger" asp-validation-for="Difficulty"></span>
    </div>

    <div class="form-group">
        <label for="textarea">Exercise Type</label>
        <select class="browser-default custom-select" asp-for="Type" asp-items="Html.GetEnumSelectList<ExerciseType>()">
        </select>
        <span class="text-danger" asp-validation-for="Type"></span>
    </div>

    <div>
        <label asp-for="VideoUrl"></label>
        <textarea asp-for="VideoUrl" class="form-control"></textarea>
        <span asp-validation-for="VideoUrl" class="text-danger"></span>
    </div>
    <hr />
    <input type="submit" class="btn btn-primary" />
</form>