@model List<FitGym.Data.Models.ApplicationUser>

@foreach (var user in Model)
{
<div class="card mb-3">
    <div class="card-header">
        <img src="@user.ProfilePictureUrl" width="200" class="mr-3" alt="@user.UserName">
    </div>
    <div class="card-body">
        <h5 class="card-title">@user.UserName</h5>
    </div>
    <div class="card-footer">
        User Id : @user.Id
    </div>
</div>
}